[build]
  base = "client"
  publish = "dist"
  # Netlify сам делает npm install в каталоге client, тут только запуск скрипта сборки
  command = "npm run build"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
