[build]
  # билдим из корня репозитория, потому что используется npm workspaces
  publish = "client/dist"
  command = "npm install && npm run build -w client"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
